<nav class="navbar nav-center fixed-top navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/">defiboost</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  	<div class="burger-icon">
	  		<%= image_tag 'burger.svg', size: "16" %>
	  	</div>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav ml-auto">
	      <%= link_to "Cryptocurrencies", root_path, class: "nav-item nav-link" %>
	      <%= link_to "About Us", pages_about_path, class: "nav-item nav-link" %>
	      <%= link_to "Contact", pages_contact_path, class: "nav-item nav-link" %>
	      	<% if !user_signed_in? %>
		      <div class="login" style="min-width:130px;">
		      	<%= link_to "Log in", new_user_session_path, class: "btn", style: "color:white;border-radius: 25px;font-size:14px;background-color: #6c63ff;letter-spacing: 1px;margin:auto;width:100%;font-weight:700;" %>
		      </div>
		    <% else %>
		      <div class="logout" style="min-width:130px;">
		      	<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn", style: "color:white;border-radius: 25px;font-size:14px;background-color: #6c63ff;letter-spacing: 1px;margin:auto;width:100%;font-weight:700;" %>
		      </div>
		    <% end %>


	    </div>
	  </div>
</nav>