<h2>Edit</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


            <% if resource.avatar.attached? %>
                <%= image_tag resource.avatar, size: "100", class: "rounded-circle" %>
            <% else %>
                <%= image_tag 'user.jpg', size: "100", class: "rounded-circle" %>
            <% end %>

            <%= f.file_field :avatar, class: "form-control-file" %>

  <br>
  
  <div class="field">
    <%= f.label "Bio" %>
    <%= f.text_area :bio, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you dont want to change password!)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", :class => 'form-control' %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Update", class: "btn", style: "background-color:#007bff;color:white;" %>
  </div>
<% end %>

<br>

<h3>Delete account</h3>

<p>Not satisfied? <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn", style: "background-color:#ff5a71;color:white;" %></p>
