
<div class="user-page-content" style="margin-top:10px;border-radius:15px;">
	<div class="user-page-img">
		<% if @user.avatar.attached? %>
			<%= image_tag @user.avatar, size: "120", class: "rounded-circle", style: "object-fit:cover"  %>
		<% else %>
			<%= image_tag 'user.jpg', size: "120", class: "rounded-circle", style: "object-fit:cover"  %>
		<% end %>
	</div>

	<br>

	<div class="user-page-name">
		<h5><b><%= @user.username %></b></h5>
	</div>


	<% if @user.bio? %>
		<div class="user-page-bio" style="padding:0 20px 20px 20px;text-align: center;">
			<%= @user.bio %>
		</div>
	<% end %>

	<% if user_signed_in? %>
		<div class="user-page-button" style="text-align:center;">
			<% if @user == current_user %>
				<%= link_to "Edit", edit_user_registration_path, class: "btn", style: "color:white;background-color:#007bff;width:130px;border-radius:25px;" %>
			<% else %>
				<%= render 'follow_form' %>
			<% end %>
		</div>
	<% end %>

	<div class="user-created-at" style="display:flex;justify-content: center;margin: 20px 0 10px 0;">
		<b>Joined <%= time_ago_in_words(@user.created_at).gsub('about','') + ' ago' %></b>
	</div>

		<div class="user-page-actions" style="margin-top:30px;margin-bottom:30px;">
			<div class="user-page-actions-item">
				<div class="user-page-actions-item-number" id="followers">
					<%= @user.followers.count %>
				</div>
				<div class="user-page-actions-text">
					<%= "Follower".pluralize (@user.followers.count) %>
				</div>
			</div>

			<div class="user-page-actions-item" style="text-align:center;">
				<div class="user-page-actions-item-number">
					<%= @user.received_likes %>
				</div>
				<div class="user-page-actions-text">
					<%= "Like".pluralize (@user.received_likes) %>
				</div>
			</div>

			<div class="user-page-actions-item" style="text-align:center;">
				<div class="user-page-actions-item-number">
					<%= @user.posts.size %>
				</div>
				<div class="user-page-actions-text">
					<%= "Post".pluralize (@user.posts.size) %>
				</div>
			</div>
		</div>


	<div id="user-page-posts">


    		<%= render @posts %>


	</div>



			<div class="load-more-user-posts-button" style="padding-bottom:50px;margin-top:10px;">
		      <% if @posts.next_page %>
		          <%= link_to user_path(:page => @posts.next_page),data: { disable_with: "Laen..." }, class: "btn btn-load-more", id: "load-more-user-posts", remote: true do %>
		            Laadi postitusi juurde

		          <% end %>

		      <% end %>
		    </div>

			<div id="postituste-lopp">
			  <button class="btn btn-lopp">Oled jõudnud lõppu!</button>
			</div>

 

</div>
