

        <div class="" style="margin:auto;padding-top: 50px;">
          <%= devise_error_messages! %>
            <div class="" style="display:block;width:100%">
              <h1 style="font-weight: 900;">Log in to Unirocket</h1>

            </div>

            <div class="" style="display:block;width:100%">
              <h5 style="font-weight: 700;">DeFi tokens paradise.</h5>

            </div>

              <br>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email, class: "pull-left"  %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>
                <br>
                <div class="field">
                  <%= f.label :password, class: "pull-left" %><br />
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                </div>

                <br>

                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>


                  <%= f.submit "Log in", class: "btn", style: "width:100px;font-weight:700;background-color: #007bff;color:white;border-radius:25px;min-width:150px;" %>
                  <br>
                  <%= render "devise/shared/links" %>

              <% end %>

         </div>



