
  <div class="card" id="post-index-page" style="margin-bottom:20px;">
        <div class="row" id="post-id" style="margin: 0;">

              <%= link_to post_path(post) do %>
                <% if post.image.attached? %>
                  <%= image_tag post.image, class: "post-image" %>
                <% end %>
              <% end %>

            <div class="col" id="post-body" style="padding:10px;">
                <div class="card-block px-2">

                  <div class="post-up" style="display:flex;">
                    <h4 class="card-title" style="font-weight:600;letter-spacing: 0px;margin-bottom:0.3rem;"><%= link_to post.title, (post), style: "color:#333;" %></h4>
                    
                      <div class="ml-auto" style="color:#ff8200;">
                        <% if post.sticky? %>
                          <b>Promoted</b>
                        <% end %>
                      </div>
                  </div>

                    <div class="post-date">
                      Listed <%= time_ago_in_words(post.created_at).gsub('about','') + ' ago' %>
                    </div>
                    <p class="card-text" style="margin-top:5px;"><%= post.body %></p>
                </div>

                  <div class="" style="margin-top:40px;padding-left:5px;">
                    <div class="post-nupud" style="position:absolute; bottom:10px;">

                      <% if user_signed_in? %>
                        <div class="post-heart like-<%= post.id %> <%= 'active' if post.likes.find { |like| like.user_id == current_user.id} %>" data-id="<%= post.id %>">
                          <%= embedded_svg 'heart.svg', class: "heart-img" %>
                        </div>
                      <% else %>
                        <%= link_to new_user_session_path do %>
                          <div class="post-heart-unlogged">
                            <%= embedded_svg 'heart.svg', class: "heart-img" %>
                          </div>
                        <% end %>
                      <% end %>


                          <div class="post-heart-number" id="post-<%= post.id %>-likes">
                            <%= post.likes.size %>

                          </div>

                        <% if user_signed_in? %>
                          <%= link_to post_path(post) do %>
                            <div class="post-comment <%= 'active' if post.comments.find { |comment| comment.user_id == current_user.id} %>">
                              <%= embedded_svg 'comment.svg', class: "comment-img" %>
                            </div>
                          <% end %>
                        <% else %>
                          <%= link_to new_user_session_path do %>
                            <div class="post-comment">
                              <%= embedded_svg 'comment.svg', class: "comment-img" %>
                            </div>
                          <% end %>
                        <% end %>

                        <div class="post-comment-number">
                          <%= post.comments.size %>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
  </div>
