          <div id="add-crypto" style="display:inline-block;width:100%">
            <%= link_to new_post_path, class: "btn", style: "color:white;border-radius: 25px;font-size:14px;background-color: #037dd6;letter-spacing: 1px;margin:auto;width:100%;" do %>
            Add Cryptocurrency
            <% end %>
          </div>

<div class="posts-index-actions">
  <div class="posts-actions">
    <div class="col">
      <%= link_to top_posts_path, :class => current_page?(top_posts_path) ? "posts-active" : "" do %>
        <div class="topposts">
          <b>Top</b>
        </div>
      <% end %>
    </div>

    <div class="col">
      <%= link_to hot_posts_path, :class => current_page?(hot_posts_path) ? "posts-active" : "" do %>
        <div class="hotposts">
          <b>Hot</b>
        </div>
      <% end %>
    </div>

    <div class="col">
      <%= link_to posts_path, :class => current_page?(posts_path) ? "posts-active" : ""  do %>
        <div class="newposts">
          <b>New</b>
        </div>
      <% end %>
    </div>

  </div>


</div>

      <div id="posts">
        <%= render @posts %>
      </div>

<div id="load-more-button" style="padding-bottom:30px;">
  <% if current_page?(root_path) || current_page?(posts_path) %>
    <% if @posts.next_page %>
          <%= link_to posts_path(:page => @posts.next_page),data: { disable_with: "Laen..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
            Laadi rohkem postitusi  (<%= @posts.size %>)
          <% end %>
    <% end %>
  <% end %>

  <% if current_page?(hot_posts_path) %>
    <% if @posts.next_page %>
          <%= link_to hot_posts_path(:page => @posts.next_page),data: { disable_with: "Laen..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
            Laadi rohkem postitusi  (<%= @posts.size %>)
          <% end %>
    <% end %>
  <% end %>

  <% if current_page?(top_posts_path) %>
    <% if @posts.next_page %>
          <%= link_to top_posts_path(:page => @posts.next_page),data: { disable_with: "Laen..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
            Laadi postitusi juurde  <%= @posts.total_entries %>
          <% end %>
    <% end %>
  <% end %>
</div>

<div id="postituste-lopp">
  <button class="btn btn-lopp">Oled jõudnud lõppu!</button>
</div>

