

<div class="posts-index-actions">
  <div class="posts-actions">
    <div class="col">
      <%= link_to top_posts_path, :class => current_page?(top_posts_path) ? "posts-active" : "" do %>
        <div class="topposts">
          <b>Top</b>
        </div>
      <% end %>
    </div>

    <div class="col">
      <%= link_to hot_posts_path, :class => current_page?(hot_posts_path) ? "posts-active" : "" do %>
        <div class="hotposts">
          <b>Kuum</b>
        </div>
      <% end %>
    </div>

    <div class="col">
      <%= link_to posts_path, :class => current_page?(posts_path) ? "posts-active" : ""  do %>
        <div class="newposts">
          <b>Uus</b>
        </div>
      <% end %>
    </div>

  </div>

  <% if user_signed_in? %>
      <hr style="border-top: 1px solid #333333;">
    <div class="posts-index-actions-down" style="display:flex; width:100%;padding-bottom:1rem;align-items: center;">
      <div class="post-index-action-pilt" style="display:inline-block;margin-left:20px;">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, size: "40", class: "rounded-circle", style: "object-fit:cover" %>
        <% else %>
          <%= image_tag 'user.jpg', size: "40", class: "rounded-circle" %>
        <% end %>
      </div>
          <div id="posts-index-new-post" style="display:inline-block;width:100%;margin-left:15px;margin-right:20px;">
            <%= link_to new_post_path, style: "text-decoration:none;" do %>
              <input class="form-control" id="newpostpane" placeholder="Jaga enda lennukaid seiklusi teistega...">
            <% end %>
          </div>
    </div>
  <% end %>

</div>

      <div id="posts">
        <%= render @posts %>
      </div>

<div id="load-more-button" style="padding-bottom:30px;">
  <% if current_page?(root_path) || current_page?(posts_path) %>
    <% if @posts.next_page %>
          <%= link_to posts_path(:page => @posts.next_page),data: { disable_with: "Laen..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
            Laadi rohkem postitusi  (<%= @posts.size %>)
          <% end %>
    <% end %>
  <% end %>

  <% if current_page?(hot_posts_path) %>
    <% if @posts.next_page %>
          <%= link_to hot_posts_path(:page => @posts.next_page),data: { disable_with: "Laen..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
            Laadi rohkem postitusi  (<%= @posts.size %>)
          <% end %>
    <% end %>
  <% end %>

  <% if current_page?(top_posts_path) %>
    <% if @posts.next_page %>
          <%= link_to top_posts_path(:page => @posts.next_page),data: { disable_with: "Laen..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
            Laadi postitusi juurde  <%= @posts.total_entries %>
          <% end %>
    <% end %>
  <% end %>
</div>

<div id="postituste-lopp">
  <button class="btn btn-lopp">Oled jõudnud lõppu!</button>
</div>

