        <% if user_signed_in? %>
          <% if current_user.admin %>
            <div id="add-crypto" style="display:inline-block;width:100%;margin-bottom:20px;">
              <%= link_to new_post_path, class: "btn", style: "color:white;border-radius: 25px;font-size:14px;background-color: #007bff;letter-spacing: 1px;margin:auto;width:100%;font-weight:700;" do %>
              Add Cryptocurrency
              <% end %>
            </div>
          <% end %>
        <% end %>


      
      <div class="" style="display:flex;">
        <div id="posts" style="width:100%;">
          <div class="posts-index-actions">
            <div class="posts-actions">
              <div class="col">
                <%= link_to top_posts_path, :class => current_page?(top_posts_path) ? "posts-active" : "" do %>
                  <div class="topposts">
                    <b>Top</b>
                  </div>
                <% end %>
              </div>

              <div class="col">
                <%= link_to hot_posts_path, :class => current_page?(hot_posts_path) ? "posts-active" : "" do %>
                  <div class="hotposts">
                    <b>Hot</b>
                  </div>
                <% end %>
              </div>

              <div class="col">
                <%= link_to newposts_posts_path, :class => current_page?(newposts_posts_path) ? "posts-active" : ""  do %>
                  <div class="newposts">
                    <b>New</b>
                  </div>
                <% end %>
              </div>

            </div>
          </div>

          <%= render @posts %>

        </div>



      </div>

<div id="index-posts-button">
    <div id="load-more-button" style="padding-bottom:30px;">
      <% if current_page?(root_path) || current_page?(posts_path) %>
        <% if @posts.next_page %>
              <%= link_to top_posts_path(:page => @posts.next_page),data: { disable_with: "Loading..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
                Load More
              <% end %>
        <% end %>
      <% end %>

      <% if current_page?(hot_posts_path) %>
        <% if @posts.next_page %>
              <%= link_to hot_posts_path(:page => @posts.next_page),data: { disable_with: "Loading..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
                Load More
              <% end %>
        <% end %>
      <% end %>

      <% if current_page?(newposts_posts_path) %>
        <% if @posts.next_page %>
              <%= link_to newposts_posts_path(:page => @posts.next_page),data: { disable_with: "Loading..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
                Load More
              <% end %>
        <% end %>
      <% end %>

      <% if current_page?(top_posts_path) %>
        <% if @posts.next_page %>
              <%= link_to top_posts_path(:page => @posts.next_page),data: { disable_with: "Loading..." }, class: "btn btn-load-more", id: "load-more-posts", remote: true do %>
                Load More
              <% end %>
        <% end %>
      <% end %>
    </div>

    <div id="postituste-lopp">
      <button class="btn btn-lopp">You have reached bottom! - Back to top</button>
    </div>

</div>


