
            <div class="search" id="widget" style=";margin-left:20px;margin-bottom:20px;">
              <%= form_with url: search_path, local: true, method: :get, html: { class: "form-inline" } do |form| %>
                  <%= form.text_field :q, placeholder: "Search...", data: { behavior: "autocomplete" }, class: "form-control", style: "height:47px;width:350px;" %>
              <% end %>
            </div>

      <div class="widget" id="widget" style="width:350px;border: 1px solid #ebeef0;margin-left:20px;border-radius:15px;margin-bottom:20px;">
        <div class="widget-up" style="padding:15px 15px 15px 20px;border-radius:15px 15px 0 0;border-bottom: 1px solid #ebeef0;">
          <h5 style="font-weight:700;margin-bottom:0;">Unirocket</h5>
        </div>
        <div class="widget-body" style="padding:20px;">
          <% if user_signed_in? %>
            <div class="widget-welcome" style="margin-bottom:20px;">
              Welcome back, <b><%= current_user.username %></b>!
            </div>
          <% end %>
          <div class="widget-info" style="margin-bottom:20px;">
            Unirocket is a community driven DeFi token paradise. Here you can find different shit and memecoins. Good luck searching.
          </div>
          <div class="widget-members">
              Members: <b><%= User.count %></b>
          </div>
          <div class="widget-online">
              Online: <b><%= User.online.count %></b>
          </div>
          <% if !user_signed_in? %>
            <div class="widget-signup" style="padding-top:30px;">
              <%= link_to "Sign up", new_user_registration_path, class: "btn", style: "color:white;border-radius: 25px;font-size:14px;background-color: #1da1f2;letter-spacing: 1px;margin:auto;width:100%;font-weight:700;" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="widget" id="widget" style="width:350px;border: 1px solid #ebeef0;margin-left:20px;border-radius:15px;margin-bottom:20px;position: sticky;top: 90px;position: -webkit-sticky;">
        <div class="widget-up" style="padding:15px 15px 15px 20px;border-radius:15px 15px 0 0;border-bottom: 1px solid #ebeef0;">
          <h5 style="font-weight:700;margin-bottom:0;">#1 Hot today</h5>
        </div>
        <div class="widget-body" style="padding:20px;">
          <%= render 'posts/sideposts'%>
        </div>
      </div>
