<!DOCTYPE html>
<html>
  <head>
    <title>DeFi Lab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>

    <div class="container">

      <div class="coins" style="margin-bottom:20px;">
        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script><div id="coinmarketcap-widget-marquee" coins="8757,9178,8966,8438,74" currency="USD" theme="light" transparent="false" show-symbol-logo="true"></div>
      </div>





        <%= render 'layouts/navbar' %>

      <div id="main" style="display:flex;">
        <div class="main2" style="width:100%;">
          <%= render 'layouts/alerts'%>
          <%= yield %>
        </div>


        <div class="main3" id="widget">
          <%= render 'layouts/widget'%>
        </div>


      </div>
    </div>


  </body>

</html>
